[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
stackapi = "*"
gensim = "*"
bs4 = "*"
requests = "*"
numpy = "*"
spacy = "*"
spacy-langdetect = "*"
matplotlib = "*"
pymongo = "*"
pytz = "*"
nltk = "*"

[dev-packages]

[requires]
python_version = "3.8"
